<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ürünler</title>
</head>

<body>
    <h1>Ürünler</h1>

    <div class="products">
        <% products.forEach(product=> { %>
            <div>
                <a href="detail/<%= product.id %>">
                    <%= product.name %>
                </a>
            </div>
            <% }) %>
    </div>
</body>

</html>